body {
	background-color: rgb(240, 240, 240);
	margin: 0;
	font-size: 16px;
}
p {
	margin: 0;
}
a {
	text-decoration: none;
}
.container {
	box-sizing: border-box;
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	padding: 0px 10px;
	display: flex;
	align-items: flex-start;
}
.main{
	flex-grow: 1;
	margin: 14px 14px 0px 9px;
	margin-bottom: 0;
	background: #fff;
	padding: 15px 15px 0px 15px;
	box-sizing: border-box;
	height: calc(100vh - 60px - 14px); /*Растянул блок до нижней гнаницы окна*/
	border-radius: 5px;
}